Aulas/Aula2/agenda.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT agenda (entrada | grupo)+ >
<!ELEMENT entrada (nome, email?, telefone) >
<!ELEMENT nome (#PCDATA) >
<!ELEMENT email (#PCDATA) >
<!ELEMENT telefone (#PCDATA) >

<!ATTLIST  entrada
            id ID #REQUIRED
            tipo CDATA #REQUIRED >

<!ELEMENT grupo (entrada|grupo|referencia)+ >

<!ATTLIST grupo
            gid ID #REQUIRED>

<!ELEMENT referencia EMPTY >

<!ATTLIST referencia
            refent IDREF #REQUIRED >